<div *ngFor="let project of projects | async">
  <h2 *ngIf="project.$key === key">{{project.title}}</h2>
</div>

<h2>Filter artists by role/position:</h2>
<select class="form-control" (change)="onChange($event.target.value)">
  <option value="allArtists">All Artists</option>
  <option value="performer">Performers</option>
  <option value="musician">Musicians</option>
  <option value="visual">Visual Artists</option>
  <option value="writer">Writers</option>
</select>
<br>
<div *ngFor="let artist of artists | async | role:filterByRole">
  <div class="panel panel-default" *ngIf="artist.project === key">
    <div class="panel-body">

      <h3 (click)="goToDetailPage(artist)"><em>{{artist.name}}</em>, {{artist.position}}</h3>
      <div>
        {{artist.bio}}
      </div>
    </div>
  </div>
</div>
