<h2>about</h2>
<div class="container">
  <div class="col-md-4">
    <p>Choreographer and performer Linda Austin returned to her native Oregon in 1998 after 20 years in New York City, where her work was supported by Movement Research, Danspace Project, P.S. 122 and the Kitchen. She has since been presented by PICA’s TBA Festival, NW New Works at Seattle’s On the Boards,  and Ten Tiny Dances. Awards include Fellowships from the Regional Arts & Culture Council, the New York Foundation for the Arts, and the Oregon Arts Commission, plus residencies at Djerassi Resident Artists Program (Bessie Schönberg Memorial Endowed Fellowship) and Robert Wilson’s Watermill Center.
    </p>
  </div>
</div>
