<h4 (click)="showEdit = !showEdit">Edit Artist</h4>

<div *ngIf="showEdit">
  <input class="form-control input-lg" placeholder="New Artist Name" [(ngModel)]="selectedArtist.name">
  <br>

  <input class="form-control input-lg" placeholder="New Artist Position" [(ngModel)]="selectedArtist.position">
  <br>

  <textarea placeholder="New Artist Bio" [(ngModel)]="selectedArtist.bio"></textarea>
  <br>
  <select id="newProject" [(ngModel)]="selectedArtist.project">
    <option *ngFor="let project of projects | async" value={{project.$key}}>{{project.title}}
    </option>
  </select>
  <br>

  <br><button class="btn btn-success" (click)="beginUpdateArtist(selectedArtist)">Update</button><br>
  <br><button class="btn btn-danger" (click)="beginDeletingArtist(selectedArtist)">Delete</button><br>
</div>
